name: 'flowDiagram'
scopeName: 'source.flowDiagram'
type: 'tree-sitter'
parser: 'tree-sitter-flow-diagram'
fileTypes: ["diagram"]

comments:
  start: '/*'
  end: '*/'

folds: [
  {
    type: ['request', 'comment', 'header' ]
  }
  {
    type: [ 'group', 'data', 'note', 'requestData' ]
    start: {index: 0}
    end: {index: -1}
  }
]

scopes:
    "source_file": 'keyword.function'

    "title": 'keyword.function'

    "listHeader": 'keyword.function'

    "listFlow": 'keyword.function'

    "header": 'keyword.function'

    "string_literal": 'string.quoted.double'

    'comment': [
      {
        match: "^//",
        scopes: 'comment.line'
      },
      'comment.block'
    ]

    "bool": 'constant.language'

    "integer": 'constant.language'

    "double": 'constant.language'

    "null": 'constant.language'

    "values": 'keyword.function'

    "entity": 'support.class'

    "assignment > entity:nth-child(0)": 'variable.parameter'

    "assignment > entity:nth-child(2)": 'variable.other'

    "jsonValue > entity": 'variable.other'

    "jsFunction > entity": 'entity.name.function'

    "data": 'keyword.function'

    "flow": 'keyword.function'

    "group": 'keyword.function'

    "requestEntity": 'keyword.function'

    "jsFunction": 'keyword.function'

    "request": 'keyword.function'

    "blockRequest": 'keyword.function'

    "startBlockRequest": 'keyword.function'

    "endBlockRequest": 'keyword.function'

    "normalRequest": 'keyword.function'

    "set": 'keyword.function'

    "import": 'keyword.function'

    "listEntitySub": 'keyword.function'

    "entitySub": 'keyword.function'

    "note": 'storage.modifier'

    "startNote": 'storage.modifier'

    "participant": 'keyword.function'

    "path": 'entity.name.function'

    "destroy": 'keyword.function'

    "blockArrow": 'keyword.function'

    "endBlockArrow": 'keyword.function'

    "arrows": 'keyword.function'

    "requestData": 'keyword.function'

    "fromEncoding": 'storage.constant'

    "jsonEncoding": 'storage.constant'

    "listAssignment": 'variable.parameter'

    "assignment": 'keyword.function'

    "jsonObj": 'variable.parameter'

    "listPair": 'variable.parameter'

    "pair": 'variable.parameter'

    "listEntity": 'keyword.function'

    "listJsonValue": 'variable.parameter'

    "jsonValue": 'keyword.function'

    '"-->"': 'keyword.operator'

    '"->"': 'keyword.operator'

    '"->+"': 'keyword.operator'

    '"-->+"': 'keyword.operator'

    '"->-"': 'keyword.operator'

    '"-->-"': 'keyword.operator'

    '"="': 'keyword.operator'

    '"["': 'keyword.operator'

    '"]"': 'keyword.operator'

    '","': 'keyword.operator'

    '":"': 'keyword.operator'
